/* add your CSS here */
.ausImage{
	width: 300px;
	height: 200px;
  margin-bottom: 10px;
}
.Interesting_fact_about_koala{
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
}
.label{
  font-weight: bold;
}
.list_items{
  list-style: none;
  margin: 0;
  padding-left: 10px;
}
.animal-main-card{
  border: 1px solid #d3d3d3;
  box-shadow: 2px 10px #b5aeae;
  padding: 15px;
  width: 300px;
  display: center;
  margin-left: 500px;
}
.sub-animal-card{
  border: 1px solid #d3d3d3;
}
.information{
  margin-left: 10px;
  margin-right: 10px;
}
